// COLORS
$color-primary: #F5F7F5;
$color-primary-light: lighten($color-primary, 20%);
$color-primary-dark: darken($color-primary, 20%);
$color-secondary: #87B1B7;
$color-secondary-light: lighten($color-secondary, 20%);
$color-secondary-dark: darken($color-secondary, 20%);
$color-tertiary: #C05149;
$color-tertiary-light: lighten($color-tertiary, 20%);
$color-tertiary-dark: darken($color-tertiary, 20%);
$color-opc1: #F3C33F;
$color-opc1-light: lighten($color-opc1, 20%);
$color-opc1-dark: darken($color-opc1, 20%);
$color-opc2: #232125;
$color-opc2-light: lighten($color-opc2, 20%);
$color-opc2-dark: darken($color-opc2, 20%);
$color-grey: #777;
$color-grey-light: lighten($color-grey, 20%);
$color-grey-dark: darken($color-grey, 20%);
$color-white: #fff;
$color-black: #000;
$color-danger: #dc3545;
$color-sucess: #28a745;
$color-warning: #ffc107;

// TYPOGRAPH
$font-size: 1.4rem;
$font-family: 'Rubik', sans-serif;
