.home {

  grid-row: 2/3;

  &__title {
    text-align: center;
    margin: 1rem 0;
    font-weight: 500;
    letter-spacing: 2px;
  }

  &__card {

    display: grid;
    padding: 3rem 10rem;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;

    @media only screen and (max-width: 1750px) {
      padding: 3rem 5rem;
    }

    @media only screen and (max-width: 1550px) {
      grid-template-columns: repeat(6, 1fr);
      padding: 3rem 3rem;
    }

    @media only screen and (max-width: 1300px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media only screen and (max-width: 1100px) {
      grid-template-columns: repeat(4, 1fr);
      padding: 3rem 1.5rem;
    }

    @include respond(tab-port) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: 680px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 440px) {
      grid-template-columns: 1fr;
    }
  }
}
