.btn {

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    width: 8rem;
    height: 1.7rem;
    padding: .5rem;
    display: inline-block;
    border-radius: 1rem;
    transition: all .2s;
    position: relative;
    font-size: .7rem;

    border: none;
    cursor: pointer;
  }

  &--tertiary {
    background-image: linear-gradient(to right,
    $color-tertiary, $color-tertiary-dark);
    color: $color-primary;

    &:hover {
      background-image: linear-gradient(to left,
      $color-tertiary, $color-tertiary-dark);
    }
  }

  &-search {
    position: absolute;
    top: 44%;
    right: 16%;
    background-color: transparent;
    color: $color-grey-light;

    @include respond(tab-land) {
      top: 38%;
    }

    @media only screen and (max-width: 350px) {
      right: 2%;
    }

    &__icon {
      font-size: 1.7rem;
    }
  }
}
