.content {
  position: relative;
  min-height: 100vh;
  height: 100%;
  background-color: $color-primary;

  max-width: 120rem;
  width: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 15rem max-content 22rem;

  @include respond(tab-land) {
    grid-template-rows: 22rem max-content  22rem;
  }
}

.container {
  overflow: hidden;
  background-color: $color-opc2;
}
