.header {

  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 15rem;
  border-bottom: 1px solid rgba($color-black, .6);

  @include respond(tab-land) {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    height: 22rem;
  }

  &__logo {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-land) {
      margin-top: 1rem;
      grid-row: 1/2;
      grid-column: 1/-1;
    }

    &-img {
      width: 20rem;
      cursor: pointer;

      @include respond(tab-port) {
        width: 15rem;
      }
    }
  }

  &__search {

    grid-column: 2/3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-land) {
      grid-row: 2/3;
      grid-column: 1/-1;
    }

    &-input {
    width: 70%;
    height: 3rem;
    padding: 1rem;
    border: none;
    border: 1px solid $color-grey-light;
    border-radius: 20px;
    transition: .1s ease-in-out;

    @media only screen and (max-width: 350px) {
      width: 99%;
    }

    &:focus {
      outline: none;
      box-shadow: 1px 3px rgba($color-black, .1);
      }

    &[type="search"]::-webkit-search-decoration,
    &[type="search"]::-webkit-search-cancel-button,
    &[type="search"]::-webkit-search-results-button,
    &[type="search"]::-webkit-search-results-decoration {
      display: none;
      }
    }

  }

  &__card {

    grid-column: 3/-1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-land) {
      grid-row: 3/-1;
      grid-column: 1/-1;
    }

    &-text {
      letter-spacing: 2px;
    }

    &-container {

      position: relative;
      cursor: pointer;

      &__cart {
        font-size: 3rem;
      }

      &__ball {
        font-size: 2rem;
        position: absolute;
        color: $color-tertiary;
        top: -15%;
        right: -10%;
        z-index: 10;
      }

      &__lenght {
        position: absolute;
        color: $color-primary;
        top: -10%;
        right: 0%;
        z-index: 20;
      }
    }
  }
}
